.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
  }  
  .firstScenario{
    color: hsl(192, 71%, 33%);
    font-size: 24px;
  }